Step 1:
The California Housing dataset is used, providing housing data such as location, age of buyer, population, median income, and median value. This set will be tested on the median house value data specifically using the Linear Regression model.

In [3]:
import pandas as pd
df = pd.read_csv('/california_housing.csv')
df.head()

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,0,-122.05,37.37,27,3885,661,1537,606,6.6085,344700
1,1,-118.30,34.26,43,1510,310,809,277,3.5990,176500
2,2,-117.81,33.78,27,3589,507,1484,495,5.7934,270500
3,3,-118.36,33.82,28,67,15,49,11,6.1359,330000
4,4,-119.67,36.33,19,1241,244,850,237,2.9375,81700

Step 2: splitting data into 'train' and 'test' parts

In [4]:
features_names = df.columns.to_list()[:-1]
X = df[features_names]
Y = df['median_house_value']

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

Step 3: fitting the data to the model and testing its effectiveness

In [13]:
lr = LinearRegression()

lr.fit(X_train, Y_train)

y_pred = lr.predict(X_test)

In [15]:
mse = mean_squared_error(Y_test, y_pred)

print("Mean squared error: {:.2f}".format(mse))

Mean squared error: 4828929519.52

Step 4 / Conclusion: the mean squared error for the linear regression model is nearly 5 million, which shows that this model is not fitting well with the dataset. Going forward, more models should be tested on this data to see if it would be better analyzed another way.